@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Barlow";
    box-sizing: border-box;
}

/* font-weight: 100;
    font-style: normal;
    saving that 4 later winky emoji  */

/* 
    saved for math purposes because charlie cannot understand math
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px; */

:root {
    --black: #000;
    --white: #FFF;
    --off-white: #F4F4F4;
    --gray: #9a9a9a;
    --red: #EA1022;
    --blue: #1A00FF;
    --light-gray: #D9D9D9;
    --dark-gray: #393939;
    --dull-red: #bc8888;
    --off-black: #1B1B1B;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* MISC */
.secondary-font {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
}

span {
    display: flex;
    padding: 1vw;
    justify-content: space-around;
    margin: 1px;
}

.better-space {
    display: flex;
    margin-right: 5px;
}

.dot-white {
    height: 25px;
    width: 25px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
    border-color: var(--black);
    border-style: solid;
}

.dot-black {
    height: 25px;
    width: 25px;
    background-color: var(--black);
    border-radius: 50%;
    display: inline-block;
    border-color: var(--black);
    border-style: solid;
}

.dot-red {
    height: 25px;
    width: 25px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
    border-color: var(--black);
    border-style: solid;
}

.dot-blue {
    height: 25px;
    width: 25px;
    background-color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    border-color: var(--black);
    border-style: solid;
}

select {
    display: flex;
    width: 100px;
    cursor: pointer;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    border-radius: 44px;
    padding: 0.5rem;
    margin-right: 14px;
    text-align: center;
}

option {
    display: flex;
    border-color: var(--black);
    border-style: solid;
    border-radius: 4px;
    background-color: var(--off-white);
}

option:hover {
    background-color: var(--blue);
    color: var(--black);
}

option:hover {
    background-color: var(--blue);
    color: var(--black);
}

.Description {
    display: flex;
    width: 200px;
    text-align: center;
    font-size: 25px;
    font-family: "Barlow";
    font-weight: 700;
    background-color: var(--white);
    text-align: left;
    margin: 15px;
    margin-right: 250px;
    margin-top: 30px;
    margin-bottom: 1px;
    padding: 1rem;
}

.Details {
    display: flex;
    width: 250px;
    text-align: center;
    font-size: 25px;
    font-family: "Barlow";
    font-weight: 700;
    background-color: var(--white);
    text-align: left;
    margin: 15px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 1px;
    padding: 1rem;
}

.Quantity {
    display: flex;
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-family: "Barlow";
    font-weight: 700;
    background-color: var(--light-gray);
    border-style: solid;
    border-width: 2px;
    border-color: var(--black);
}

.qty {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 70px;
}

.product-button-selected {
    display: flex;
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 270px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--red);
    font-family: "Barlow";
    font-weight: 700;
    border-radius: 30px;
    color: var(--white);
    margin-right: 170px;
}

h2 {
    font-family: "Barlow";
    font-weight: 700;
    font-size: 60px;
    flex-grow: 1;
    text-align: center;
    transform: translatex(370px);
    color: var(--black);
}

h3 {
    display: flex;
    font-family: "Barlow Semi Condensed";
    font-weight: 400;
    font-size: 50px;
    flex-direction: row;
    justify-content: center;
    color: black;
    flex-direction: column;
}

h4 {
    display: flex;
    font-family: "Barlow Semi Condensed";
    font-weight: 400;
    font-size: 35px;
    flex-direction: row;
    justify-content: center;
    color: black;
    flex-direction: column;
}

.shadow {
    display: flex;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

h5 {
    display: flex;
    font-family: "Barlow Semi Condensed";
    font-weight: 400;
    font-size: 40px;
    flex-direction: row;
    justify-content: center;
    color: black;
    flex-direction: column;
    margin: 0%;
    margin-top: 15px;
    margin-right: 110px;
    margin-left: 13px;
}

h6 {
    display: flex;
    font-size: 30px;
}



.product-price {
    display: flex;
    text-align: left;
    margin-right: 280px;
    font-size: 35px;
    font-weight: 600;
}

.strong {
    margin: 14px;
    margin-bottom: -200px;
}

h3>a {
    color: var(--black);
    text-decoration: none;
    transition: color ease-out 150ms;
}

h3>a:hover {
    color: var(--red);
}

h4>a {
    color: var(--black);
    text-decoration: none;
    transition: color ease-out 150ms;
}

h4>a:hover {
    color: var(--red);
}

/* columns and rows */
.row {
    display: flex;
    flex-flow: row;
}

.col {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.one-fifth {
    display: flex;
    width: calc(100% / 5.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin: 15px;
}

.one-third {
    display: flex;
    width: calc(100% / 3);
    background-color: var(--white);
    margin: 1px;
    margin-top: 20px;
    font-size: 25px;
    height: 700px;
    align-items: center;
}

.longer-third {
    width: calc(100% / 3);
    background-color: var(--white);
    height: 1150px;
    align-items: center;
}

.one-half {
    display: flex;
    width: calc(100% / 2);
    background-color: var(--white);
    margin: 30px;
    font-size: 25px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    height: 450px;
    align-items: center;
    margin-bottom: 15px;
}

.row-offwhite {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    height: 200px;
    margin: 0;
}

/* IMAGES */
.img-full {
    display: flex;
    position: relative;
    text-align: center;
    color: var(--white);
    width: 100%;
    margin: 0;
}

.img-full>img {
    display: flex;
    width: 100%;
}

.img-half {
    display: flex;
    width: 100%;
}

.image-fifth {
    display: flex;
    width: 100%;
}

.img-right {
    display: flex;
    width: 10%;
    height: 50%;
    object-fit: contain;
    justify-content: flex-end;
    margin-right: 11px;
    transform: translatex(610px);
}

.img-product {
    display: flex;
    width: 30rem;
    height: 30rem;
}


/* PURELY NAV BAR HERE */
nav {
    display: flex;
    font-family: "Barlow";
    font-weight: 500;
    font-style: normal;
    background-color: var(--black);
    color: var(--white);
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1vw;
    align-items: center;
}

.nav-deco {
    display: flex;
    text-decoration: underline;
    text-decoration-color: var(--red);
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2.5vw;
    transform: translatex(50px);
}

.selected {
    display: flex;
    color: var(--dull-red);
    text-decoration: underline;
    text-decoration-color: var(--red);
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2.5vw;
}

.nav-big {
    display: flex;
    text-decoration: underline;
    text-decoration-color: var(--red);
    margin: 1.5rem;
    padding: 1rem;
    font-size: 4.5vw;
    transform: translatex(50px);
}

.search-deco {
    display: flex;
    text-decoration: underline;
    text-decoration-color: var(--gray);
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2.5vw;
}

input {
    display: flex;
    max-width: 13%;
    background-color: var(--black);
    color: var(--white);
    border: none;
    font-family: "Barlow";
    font-weight: 500;
    font-style: normal;
    transform: translatex(50px);
}

a {
    color: var(--white);
}


.nav-img-right {
    display: flex;
    width: 30%;
    height: 50%;
    object-fit: contain;
    justify-content: flex-end;
    margin-right: 11px;
    transform: translatex(160px);
}

.nav-img-left {
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: contain;
    justify-content: flex-end;
    margin-right: 11px;
    transform: translatex(95px);
}

/* END OF NAV BAR */

/* ANCHOR TAG CLASSES FOR THOSE CLICKY CLICK IMAGES */

img>a {
    display: flex;
    width: 6%;
    height: 6%;
    object-fit: contain;
    margin-right: 5%;
}

/* footer start */
footer {
    display: flex;
    font-family: "Barlow";
    font-weight: 500;
    font-style: normal;
    background-color: var(--black);
    color: var(--white);
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2vw;
    align-items: center;
    margin-top: 100%;
}

footer>section:nth-child(1) {
    display: flex;
    margin-bottom: 4vw;
}

footer>section:nth-child(1)>img {
    display: flex;
    min-width: 8vw;
}

footer>section:nth-child(2) {
    display: flex;
    margin-top: 5vw;
}

footer>section:nth-child(2)>img {
    display: flex;
    min-width: 7vw;
}

footer>section:nth-child(2)>a {
    display: flex;
    margin-bottom: 1.5vw;
}

footer>section:nth-child(3) {
    display: flex;
    margin-top: 5vw;
}

footer>section:nth-child(4) {
    display: flex;
    margin-top: 5vw;
}

footer>section:nth-child(5)>img {
    display: flex;
    max-width: 6vw;
    margin-bottom: 3vw;
}

.footer-icon {
    display: flex;
    transform: translateY(60px);
    width: 6vw;
    margin: 50px;
}

.one-fifth>a {
    display: flex;
    font-size: 1.5vw;
    text-decoration: none;
    margin-bottom: 1rem;
}

.footer-nav {
    display: flex;
    color: var(--white);
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1vw;
    align-items: center;
}

/* footer end */

/* config pages */

.config {
    background-color: var(--off-black);
    color: var(--white);
}

.config-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

.config-footer a {
  font-size: 2.5vw;
  border-radius: 75px;
}

.config-button {
    text-decoration: none;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    font-size: 4vw;
    padding: 2vw;
    border: solid 2px var(--red);
    border-radius: 5px;
    transition: background-color ease-in 200ms;
}

.config-img {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    width: 50%;
}

section > .config-button {
    font-size: 2.6vw;
    width: 100%;
    padding: 1.5vw;
}

.one-selection.config-button {
    display: flex;
    justify-content: center;
    margin: 2vw;
    border-radius: 100px;
}

.config-button:hover {
    background-color: var(--red);
}

.config-select {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 30%;
    margin-left: 5vw;
    margin-right: 10vw;
}

.config-select h1 {
    font-size: 5vw;
    margin-top: 2vw;
}

/* models */

.big-top {
    display: inline-block;
    position: relative;
}

.big-top img {
    width: 100vw;
}

h1.overlay-left {
    color: var(--white);
    font-size: 6vw;
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, -50%);
}

p.overlay-left {
    color: var(--white);
    font-size: 3vw;
    position: absolute;
    top: 14%;
    left: 30.9%;
    transform: translate(-50%, -50%);
}

.big-bottom {
    display: inline-block;
    position: relative;
}

.big-bottom img {
    width: 100vw;
}

h1.overlay-right {
    color: var(--white);
    font-size: 6vw;
    position: absolute;
    top: 5%;
    right: 25%;
    transform: translate(50%, -50%);
}

p.overlay-right {
    color: var(--white);
    font-size: 3vw;
    position: absolute;
    top: 18%;
    right: 17%;
    transform: translate(50%, -50%);
}

.int {
    position: absolute;
    bottom: 15%;
    left: 35%;
    transform: translate(-50%, 50%);
}

.ext {
    position: absolute;
    bottom: 15%;
    right: 35%;
    transform: translate(50%, 50%);
}

/* HOME PAGE */

.home-hero {
    display: inline-block;
    position: relative;
}

.home-hero img {
    display: flex;
    width: 100vw;
}

h1.overlay-bottom-1 {
    color: var(--white);
    font-size: 6vw;
    position: absolute;
    bottom: 20%;
    left: 25%;
    transform: translate(50%, 50%);
}

p.overlay-bottom-2 {
    color: var(--white);
    font-size: 6vw;
    position: absolute;
    width: 100%;
    bottom: 5%;
    right: 32%;
    transform: translate(50%, 50%);
}

.featured-products {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.featured-products > a {
    display: flex;
    width: 100%;
    justify-content: center;
}

.featured-products > a > img {
    display: flex;
    width: 50%;
}

.featured-products h2 {
    font-size: 4vw;
}

.featured-products p {
    font-size: 3vw;
}


.flex {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


h3 {
    color: #FFF;
}


#rcorners1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: black;
    padding: 20px;
    width: 500px;
    height: 70px;
    border-color: #EA1022;
    border-style: groove;
}


#rcorners2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: black;
    padding: 20px;
    width: 500px;
    height: 100px;
    font-size: x-large;
    border-color: #EA1022;
    border-style: groove;
}


.column {
    display: flex;
    flex-direction: column;
}


.div {
    display: flex;
    justify-content: flex-start;


}


.img {
    width: 58%;
}


.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text {
    width: 38%;
    align-self: stretch;
    padding: 2em;


}


.color {
    background-color: #000;
}


.outline {
    border-width: 2px;
    border-color: #EA1022;
    border-style: inset;
}


.column {
    flex-direction: column;
}


.flex-center {
    align-items: center;
    justify-content: center;
}


.margin-eater {
    margin-top: -5px
}


/*BWC END*/
/*image START*/


.flex.image{
display: flex;
justify-content: flex-start;
align-content: flex-start;
height: 50vh;
background-color: black;
}


.flex.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* tablets */